body {
	background-color: #222;
	color: white;
	font-family: Arial, sans-serif;
}

.node {
	background: none;
	color: white;
	border: none;
	cursor: pointer;
	padding: 0;
	text-align: left;
}

.node:focus {
	outline: 1px solid white;
	outline-offset: 3px;
}

.children {
	display: none;
	list-style-type: none;
}

.button-expanded::after {
	content: "▼";
	margin-left: 5px;
}

.button-collapsed::after {
	content: "►";
	margin-left: 5px;
}

.expanded {
	display: block;
}

#container {
	display: flex;
}

#tree {
	flex: 1;
	padding: 20px;
}

#settings {
	width: 300px;
	padding: 20px;
}