body {
	background-color: #222;
	color: white;
	font-family: Arial, sans-serif;
}

a:link {
	color: white;
}

a:visited {
	color: #aaa;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

.node {
	background: none;
	color: white;
	border: none;
	cursor: pointer;
	text-align: left;
	font-family: Consolas;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	user-select: text;
}

.node:focus {
	outline: 1px solid white;
	outline-offset: 3px;
	z-index: 1; /* draw the outline over other things*/
}

.children {
	display: none;
	list-style-type: none;
}

.expanded {
	display: block;
}

.toggle {
	background: #474747;
	border-radius: 8px;
	color: #ccc;
	border: none;
	cursor: pointer;
	margin-right: 1px;
	text-align: center;
	font-family: Consolas;
	width: 25px;
}

.hidden {
	visibility: hidden;
}

#container {
	display: flex;
}

#tree {
	flex: 1;
	padding: 20px 5px 5px 0px;
	white-space: nowrap;
}

#footer {
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	pointer-events: none;
}

#footer a {
	pointer-events: auto;
}

#settings {
	width: 300px;
	padding-right: 10px;
}

@media (max-width: 1000px) { /*for small horizontal displays*/
	#settings {
		width: 25%;
	}
}

.closex {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	opacity: 0.5;
	background: none;
	border: none;
	padding: 0;
}
.closex:hover {
	opacity: 1;
}
.closex:before, .closex:after {
	position: absolute;
	content: '';
	height: 20px;
	width: 2px;
	background-color: #ccc;
}
.closex .content {
	position: relative;
}
.closex:before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.closex:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}